Package: tpm2-tss-engine
Version: 1.1.0-1
Section: base
Priority: optional
Architecture: armhf
Maintainer: Arturo Lotito <arlotito@microsoft.com>
Description: tpm2-tss-engine
 https://github.com/tpm2-software/tpm2-tss-engine.git
